[Unit]
Description=Startup Service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/startup-scripts/config-startup.sh
ExecStart=/usr/bin/expect /opt/startup-scripts/surfshark.expect
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target